* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(45deg, #190361 0%, #bb00ff 100%);
  height: 100vh;
  display: grid;
  place-content: center;
  background-size: 200% 200%;
  animation: backgroundRotate 3s ease-in-out infinite;
}

h1,
p,
span {
  color: #34355b;
  text-align: center;
}

img {
  cursor: pointer;
}

.screen1 img:hover {
  animation: shake 0.4s forwards 0s infinite;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3rem;
}

p {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 1.4rem 0 2rem;
}

#randomMessage {
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: black;
  background-color: #e4edf1;
  padding: 1rem 1rem;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(85, 85, 85, 0.5);
}

#randomMessage {
  animation: messager-appear 1.5s ease-in-out 0s;
}

main .hide {
  display: none;
}

.screen1,
.screen2 {
  background-color: white;
  width: 42.8rem;
  height: 42.4rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  padding: 4.8rem 6.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.screen2 {
  height: 56.4rem;
}

button {
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1.6rem;
  background-color: #ff9500;
  border: none;
  border-radius: 0.4rem;
  margin: 1.7rem 6.3rem;
}

@keyframes messager-appear {
  0% {
    opacity: 0.5;
    transform: translate(0px, 15rem) scale(0.3);
  }
  1% {
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes shake {
  0%,
  23% {
    transform: translate3d(3px, 0px, 0);
  }
  2% {
    transform: rotate(-2deg);
  }

  25% {
    transform: rotate(2deg);
  }

  48%,
  73% {
    transform: translate3d(3px, 0px, 0);
  }

  50% {
    transform: rotate(-2deg);
  }

  75% {
    transform: rotate(2deg);
  }

  98% {
    transform: translate3d(3px, 0px, 0);
  }

  100% {
    transform: rotate(-2deg);
  }
}

@keyframes backgroundRotate {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 100% 50%;
  }

  50% {
    background-position: 0% 50%;
  }

  75% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
